<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Dead Works</title>
      <meta name="author" content="Dead Works">
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="stylesheets/main.css"/>
      <style>
        [ng-cloak] {
          display: none;
        }
      </style>

    </head>
    <body ng-app="DeadworksApp" ng-controller="SiteCtrl">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="scripts/vendor/61e2728c.es5-shim.min.js"></script>
            <script src="scripts/vendor/241d7c33.json3.min.js"></script>
        <![endif]-->

        <!-- NAVBAR
    ================================================== -->
        <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
        <div class="container navbar-wrapper" ng-cloak ng-class="{showovercontent:carouselActive()}">

          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
              <div class="cartInfo"><span class="simpleCart_quantity">0</span> items</div>
              <a class="btn btn-navbar" ng-click="toggleMenu()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>


              <a class="brand" ng-click="changeRoute('/')">
                <img src="/images/16828175.logo-black.png" class="logo"/>
              </a>

              <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
              <div class="nav-collapse collapse" dw-menu>
                <ul class="nav" style="float:right; text-align:right;">
                  <li ng-repeat="nav in headerLinks" ng-class="{active:nav.active}"><a ng-click="changeRoute(nav.link)">{{nav.label}}</a>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
            <!-- /.navbar-inner -->
          </div>
          <!-- /.navbar -->

        </div>
        <!-- /.container -->

        <!-- Carousel
       ================================================== -->
        <div id="myCarousel" class="carousel slide" ng-show="carouselActive()">
          <div class="carousel-inner">
            <div class="item active">
              <img src="/images/38f9bfd9.album-cover.jpg" ng-hide="musicPlaying" alt="David Warren EP" style="display:none;"/>
              <canvas id="theapt" width="1341" height="906" ng-show="musicPlaying"></canvas>
              <img class="logo-big" src="/images/b895331e.logo-big.png" style="pointer-events:none;opacity:0.035;position:absolute;top:-20px;left:-10px;width:975px;height:180px;max-width:975px !important;max-height:180px !important;min-width:975px !important;min-height:180px !important;"/>


              <!--<img src="../assets/img/examples/slide-01.jpg" alt="">-->

              <!--<div class="container">-->
                <!--<div class="carousel-caption">-->
                  <!--<h1>Exposure</h1>-->

                  <!--<p class="lead">Information can be connected to reveal too much personal information.</p>-->
                  <!--<a class="btn btn-large btn-primary" ng-click="showMsg('Coming soon!')">Learn more</a>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <!-- /.carousel -->


        <!-- Marketing messaging and featurettes
       ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing" ng-class="{'content-page':!carouselActive()}">

          <div ng-view></div>

          <!-- FOOTER -->
          <footer>
            <p class="pull-right"><a href="javascript:void(0)" class="scrollToTop">Scroll To Top</a></p>

            <p>&copy; 2012-2013 Dead Works &middot; <a ng-click="changeRoute('/privacy')">Privacy Policy</a> <!--&middot; <a
              ng-click="changeRoute('/terms')">Terms</a>--></p>
          </footer>
        </div>

        <div id="tweet" class="item-animate" style="top: 401px; display: block;" unselectable="on"></div>

        <div id="stuff">
          <audio id="audio">
            Your browser does not support the <code>audio</code> element.
          </audio>
        </div>

        <div id="note-to-play">
          <span class="mobile-tap">Tap</span><span class="desktop-click">Click</span> anywhere to see track info.
        </div>

        <div id="music-control">
          <a class="pause-btn" ng-click="musicPlaying=!musicPlaying;"></a>
        </div>



        <script src="scripts/2643e981.scripts.js"></script>
        <!--<script src="scripts/vendor/processing.min.js"></script>-->
        <!--<script src="scripts/vendor/modernizr-0.9.min.js"></script>-->
        <!--<script src="scripts/vendor/jquery-1.8.3.min.js"></script>-->
        <!--<script src="scripts/vendor/detectmobilebrowser.min.js"></script>-->
        <!--<script src="scripts/vendor/lodash.min.js"></script>-->
        <!--<script src="scripts/vendor/plugins.js"></script>-->
        <!--<script src="scripts/vendor/bootstrap.min.js"></script>-->
        <!--<script src="scripts/vendor/angular.min.js"></script>-->
        <!--<script src="scripts/vendor/angular-resource.min.js"></script>-->
        <!--<script src="scripts/vendor/angular-sanitize.min.js"></script>-->
        <!--<script src="scripts/vendor/simpleCart.js"></script>-->
        <!--<script src="scripts/vendor/apt18.js"></script>-->

        <!--<script src="scripts/app.js"></script>-->
        <!--<script src="scripts/common/services-global.js"></script>-->
        <!--<script src="scripts/common/directives-global.js"></script>-->
        <!--<script src="scripts/controllers/sitectrl.js"></script>-->
        <!--<script src="scripts/controllers/main.js"></script>-->
        <!--<script src="scripts/controllers/merch.js"></script>-->
        <!--<script src="scripts/controllers/contact.js"></script>-->
        <!--<script src="scripts/controllers/privacy.js"></script>-->
        <!--<script src="scripts/controllers/terms.js"></script>-->
        <!--<script src="scripts/controllers/cart.js"></script>-->

        <script>
          !function($){
            $(document).ready(function(){
              // carousel demo
//              setTimeout(function(){
//                $('#myCarousel').carousel();
//              }, 1000);

              $("#demoShelf .simpleCart_shelfItem").mouseenter(function(event){
                $(this).find('.tooltip').addClass('in').fadeIn(200);
              });
              $("#demoShelf .simpleCart_shelfItem").mouseleave(function(event){
                $(this).find('.tooltip').removeClass('in').fadeOut(200);
              });
              $(".cartInfo").toggle(function(){
                $("#cartPopover").show();
                $(".cartInfo").addClass('open');
              }, function(){
                $("#cartPopover").hide();
                $(".cartInfo").removeClass('open');
              });

              $("body").on('click', ".simpleCart_shelfItem", function(){
                var clone = $(this).clone(), position = $(this).position(), bezier_params = {
                    start: {
                      x: position.left,
                      y: 0,
                      angle: -90
                    },
                    end: {
                      x: 310,
                      y: -210,
                      angle: 180,
                      length: .2
                    }
                  };

                clone.appendTo($(this).closest('.item-animate'));
                clone.find('.tooltip').hide();
                clone.addClass('addDemoAnimation');
                clone.animate({path: new $.path.bezier(bezier_params)}, 600);

              });

              $('body').on('click', '.item_add', function(){
                $(this).closest('.simpleCart_shelfItem').remove();
              });

              //Check to see if the window is top if not then display button
              $(window).scroll(function(){
                if ($(this).scrollTop() > 100){
                  $('.scrollToTop').fadeIn();
                } else {
                  $('.scrollToTop').fadeOut();
                }
              });
              //Click event to scroll to top
              $('.scrollToTop').click(function(){
                $('html, body').animate({scrollTop: 0}, 500);
                return false;
              });
            });
          }(window.jQuery)
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
//            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
//            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
//            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
//            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
