<div id="demoShelf1" class="merch-shelf item-animate">
  <div class="simpleCart_shelfItem" style="left: 122px; top: 0px;">
    <div class="tooltip" style="display: none;">
      <span class="item_price">$10.00</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/b6962d38.2093001297-1.jpeg" alt="" class="item_image item_add">
    <span class="item_name">Limited Edition Vinyl - 1</span>
  </div>
  <div class="simpleCart_shelfItem" style="left: 30px; top: 0px;">
    <div class="tooltip" style="display: block;">
      <span class="item_price">$10.00</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/eb956ba6.900239755-1.jpeg" alt="" class="item_image item_add">
    <span class="item_name">Limited Edition Vinyl - 2</span>
  </div>
  <div class="simpleCart_shelfItem" style="left: 220px; top: 16px;">
    <div class="tooltip">
      <span class="item_price">$10.00</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/18dd8df5.3837000385-1.jpeg" alt="" class="item_image"/>
    <span class="item_name">Limited Edition Vinyl - 3</span>
  </div>
</div>

<div id="demoShelf2" class="merch-shelf item-animate">
  <div class="simpleCart_shelfItem" style="left: 29px; top: 0px;">
    <div class="tooltip" style="display: none;">
      <span class="item_price">$10.00</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/e49ef663.284763861-1.jpeg" alt="Sample Product" class="item_image item_add">
    <span class="item_name">Limited Edition Vinyl - 4</span>
  </div>
  <div class="simpleCart_shelfItem" style="left: 122px; top: -2px;">
    <div class="tooltip" style="display: none;">
      <span class="item_price">$10.00</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/9ac55d5f.2905426155-1.jpeg" alt="Sample Product" class="item_image item_add">
    <span class="item_name">Limited Edition Vinyl - 4</span>
  </div>
</div>
  <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>